body {
    background-image: url(../images/background2.jpg);
}

p {
    text-align: center;
    color: white;
}

.charImage {
    height: 150px;
    width: 200px;
}

.character,
.yourCharacter,
.enemy,
.defender {
    border-style: solid;
    border-color: white ;
    border-width: 5px;
    margin: 0 20px;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.yourCharacter {
    border-color: green;
}

.enemy {
    border-color: red;
}

.defender {
    border-color: black;
}

#fightSection {
    clear: left;
}


#chosenCharacter {
    height: 250px;
}
